body{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10rem; padding-right: 10rem;

}

h1 {
    color: darkblue;
}
h3 {
    color: black;
}

.gras{
 font-weight: bold;   
}
.fonddecouleur1{
    background-color: rgb(190, 182, 182); padding: 1px
}

.fonddecouleur2{
    background-color: rgb(228, 193, 228); padding: 1px
    ;

}
img {
    width: 60%;
}